body {
    overflow-x: hidden;
    background-color: black;
  }
  
  .bg-fondo {
    background-color: rgba(0, 0, 0, 0.85); /* Utiliza rgba para controlar la opacidad del fondo sin afectar el contenido */
    height: auto;
  }
  
  .navlinks {
      color: white;
      position: relative;
      text-decoration: none;
      font-family: 'Kanit', sans-serif;
    
  }
  
  .navlinks::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    .navlinks:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  
    .nav-title {
      color: white;
      font-family: 'Permanent Marker', cursive;
      
    }